<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <% if (result) { %>
            <div id="info">
                <%= result %>
            </div>
            <%} else {%>
                <% } %>
        <div class="text-center mb-5">
            <h3>Zawodnicy pauzujący za kartki</h3>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Drużyna</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Mecze zawieszenia</th>
                </tr>
            </thead>
            <% for (var i = 0; i < suspended.length; i++) {%>
                <tr>
                    <td><%= suspended[i].druzyna %></td>
                    <td><%= suspended[i].imie %></td>
                    <td><%= suspended[i].nazwisko %></td>
                    <td><%= suspended[i].mecze_zawieszenia %></td>
                </tr>
            <% } %>
        </table>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>